:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sw-wiki-app {
    max-width: 1000px;
    margin: auto;
}

.sw-wiki-app .person-preview {
    display: flex;
}

.sw-wiki-app .person-preview .item-list {
    flex: 1;
}

.sw-wiki-app .person-preview .person-details {
    flex: 1;
}