.person-details {
    color: rgb(168, 158, 16);
    border-radius: 25px;
    margin: 20px;
    background-color: rgb(30, 32, 32);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-details .img-person {
    border-radius: 25px;
    display: block;
    max-width: 200px;
}

.person-details ul li {
    list-style-type: none;
}
